body {
        margin: 0; 
        overflow: hidden;
        background-color:#3f4444;
        
        /* selection disable*/
  		-webkit-touch-callout: none; /* iOS Safari */
    	-webkit-user-select: none; /* Safari */
     	-khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; 	  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
      }

      canvas {
           position:absolute;
           top:0;
           left:0;
           width:100%;
           height:100%;
           z-index:-2;
      }	

       @font-face {
		font-family: "Fipps-Regular";
		src: url("Fipps-Regular.otf");
	  } 

      .icons {
        display: flex;
        justify-content: center;
        align-items: center;
        transform: scale(5);
        height: 100vh;
        /*disables link color changing */
        
        }

      ul {
      	padding: 0;
      	margin: 0;
      	list-style: none;
      }

      li { 
      	/*icon color*/
      	color:#000000;
      	display:inline-flex;

      }
      
      a:visited {
      /*disables link color changing */
       color:inherit;
       text-decoration: none;
      }

      p {
      	position: absolute;  
    	left: 50%;                        /* horizontal alignment */
    	top: 60%;                         /* vertical alignment */
    	transform: translate(-50%, -50%); /* precise centering; see link below */ 
    	font-family: 'Fipps-Regular', Arial, sans-serif;
    	color:#000000;
    	text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
      }

      a {
      	color:inherit;
      	text-decoration: none;
      }
      .zoom:hover { 
      	transition-duration: 300ms;
      	transform: scale(1.1); 
      }
      .zoom {
      	transition-duration: 300ms;
      	transform:scale(1);
      }
